.Navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  margin-left: 60px;
  margin-top: 20px;
  color: white;
}
.Navbar ul {
  display: flex;
  flex-direction: row;
}
.Navbar p {
  margin-right: 15px;
  font-size: 35px;
}
.Navbar ul li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
  font-size: 17px;
}

.Navbar ul li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  border-bottom-width: thin;
}

.span {
  width: 30px;
  display: none;
  position: absolute;
}

.span span {
  width: 100%;
  height: 2px;
  margin-bottom: 7px;
  float: left;
  background-color: white;
}
.close {
  display: none;
}

@media only screen and (max-width: 450px) {
  .span {
    display: block;
  }
  /* .Navbar ul {
    display: none;
  } */
  .Navbar p {
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .Navbar ul li {
    margin-right: 30px;
  }
  .close {
    display: block;
  }
  .list {
    position: absolute;
    top: -40px;
    left: -70px;
    background-color: white;
    color: black;
    font-weight: 500;
    height: 80px;
    width: 375px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .list .close {
    margin-right: 50px;
  }
  .back {
    background-color: rgb(10, 10, 10, 0.5);
    height: 1850px;
    width: 420px;
    margin-left: -290px;
    position: absolute;
    margin-top: 25px;
  }
}
